services:
  db:
    image: postgres:15-alpine
    container_name: comments_db
    environment:
      POSTGRES_DB: CommentDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Alesha
    ports:
      - "5432:5432"
    restart: always

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: comments_api
    depends_on:
      - db
    volumes:
      - ./uploads:/app/wwwroot/uploads
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=CommentDb;Username=postgres;Password=Alesha
      - ASPNETCORE_ENVIRONMENT=Development
      - Cloudinary__CloudName=Gala2020
      - Cloudinary__ApiKey=118386669864924
      - Cloudinary__ApiSecret=LTaBB6tCrHvpyRnBE3gXjIrrmCY
      - JWT__ValidAudience=http://localhost:4200
      - JWT__ValidIssuer=http://localhost:5000
      - JWT__Secret=SuperSecretKeyForMyAmazingCommentApp123!
    ports:
      - "5000:8080"
    restart: on-failure

  frontend:
    build: ./ClientApp
    container_name: comments_ui
    depends_on:
      - backend
    ports:
      - "4200:80"
    restart: always