services:
  db:
    image: postgres:15-alpine
    container_name: comments_db
    environment:
      POSTGRES_DB: CommentDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Alesha
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: comments_api
    depends_on:
      - db
    volumes:
      - ./uploads:/app/wwwroot/uploads
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=CommentDb;Username=postgres;Password=Alesha
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5000:8080"

  frontend:
    build: ./ClientApp
    container_name: comments_ui
    depends_on:
      - backend
    ports:
      - "4200:80"