services:
  db:
    image: postgres:15-alpine
    container_name: comments_db
    environment:
      POSTGRES_DB: CommentDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Alesha
    ports:
      - "5432:5432"
    restart: always

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: comments_api
    depends_on:
      - db
    volumes:
      - ./uploads:/app/wwwroot/uploads
    environment:
      - ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=5432;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASS}
      - ASPNETCORE_ENVIRONMENT=Development
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
      - JWT__ValidAudience=${JWT_AUDIENCE}
      - JWT__ValidIssuer=${JWT_ISSUER}
      - JWT__Secret=${JWT_SECRET}
    ports:
      - "5000:8080"
    restart: on-failure

  frontend:
    build: ./ClientApp
    container_name: comments_ui
    depends_on:
      - backend
    ports:
      - "4200:80"
    restart: always