@keyframes slideUpFade{0%{opacity:0;transform:translateY(15px);background-color:#fff9c4}to{opacity:1;transform:translateY(0);background-color:transparent}}.comment-item-card{animation:slideUpFade .5s ease-out}
