@model IEnumerable<CommentApp.Models.Entities.Item>

@{
    ViewData["Title"] = "Все посты";
}

<h1>Все посты</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Текст</th>
            <th>Автор</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Text</td>
                <td>@item.User.UserName</td>
                <td>@item.CreationDate.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>