@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в CommentApp</h1>
<p>Публикуйте посты и оставляйте комментарии!</p>
<a class="btn btn-primary" href="/Item/Create">Создать новый пост</a>
<a class="btn btn-secondary" href="/Item/ShowAll">Список постов</a>