@{
    ViewData["Title"] = "Главная";
}

<div class="welcome-container">
    <h1>Добро пожаловать на мой сайт!</h1>
    <p>
        Это тестовое задание для компании dZENcode. Я рад представить вам свою работу, которая отражает мой подход к разработке, внимательность к деталям и стремление создавать удобные и функциональные решения.
        <br><br>
        Надеюсь, что мой сайт произведет на вас положительное впечатление и продемонстрирует мои навыки в создании качественного веб-приложения.
        <br><br>
        Спасибо за внимание!
    </p>
    <a class="btn btn-primary" href="/Item/Create">Создать новый пост</a>
    <a class="btn btn-secondary" href="/Item/ShowAll">Список постов</a>
</div>