<nav class="navbar">
  <div class="container">
    <a routerLink="/" class="logo">SPA Comments</a>
    
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
      
      <ng-container *ngIf="auth.isLoggedIn() | async; else loginBtn">
        <span class="user-greeting">Привет, <b>{{ userName }}</b></span>
        <a href="javascript:void(0)" (click)="logout()">Выйти</a>
      </ng-container>

      <ng-template #loginBtn>
        <a routerLink="/login" routerLinkActive="active">Войти</a>
      </ng-template>
    </div>
  </div>
</nav>

<main class="main-container">
  <router-outlet></router-outlet>
</main>